body {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    background-color: #cbd0d9;
}

#file_content {
    width: 100%;
    height: 26em;
}

fieldset {
    border-top: solid #777 1px;
}

legend {
    padding-right: 0.5em;
}

.hidden {
    display: none;
}

.form-icon.offset {
    margin-right: 2em;
}
